DATABASE_URL="postgresql://portal:portal_dev@localhost:5433/portal?schema=public"

JWT_ACCESS_SECRET="change-me"
JWT_REFRESH_SECRET="change-me"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

ALLOWED_EMAIL_DOMAIN="thelunivaaqgroup.com"

SUPER_ADMIN_EMAIL="superadmin@thelunivaaqgroup.com"
SUPER_ADMIN_PASSWORD="Password@123"
SUPER_ADMIN_FULLNAME="Super Admin"

PORT=4000
NODE_ENV=development
